{% extends 'layout.html.twig' %}

{% block main %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success mt-5" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="productContainer container container-fluid mb-5">

        <div class=" container container-fluid justify-content-center row">
            {% for category in categories %}
                <a class="btnProduct btn m-3 col-auto" href="{{ path('products_show_category', { 'categoryName' : category.name }) }}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>

        <div class="row">
            {% for product in products %}
                <div class="productCard card container mt-5" style="width: 25rem;">
                        <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="card-img-top mt-2" alt="product_picture">

                        <div class="card-body">
                            <p class="card-text">{{ product.name }}</p>
                        </div>
                </div>
            {% else %}
                <p>Aucun produit pour cette categorie</p>

            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% if products is  empty %}
        {% include 'includes/_fixedFooter.html.twig' %}

    {% else %}
        {% include 'includes/_footer.html.twig' %}
    {% endif %}
{% endblock %}