{% extends 'adminLayout.html.twig' %}


{% block main %}
    <div class="adminContainer container container-fluid">
        <h1>HomeTexte index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for home_texte in home_textes %}
                <tr>
                    <td>{{ home_texte.id }}</td>
                    <td>{{ home_texte.title }}</td>
                    <td>{{ home_texte.description }}</td>
                    <td>
                        <a href="{{ path('admin_homeTexte_edit', {'id': home_texte.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_homeTexte_new') }}">Create new</a>
    </div>
{% endblock %}
