<div id="carouselBoulangerie" class="carouselHome carousel slide" data-bs-ride="carousel" data-interval="10000">

    <ol class="carousel-indicators">
        {% if carousel is not empty %}
            {% for image in carousel %}
                <li data-bs-target="#carouselBoulangerie" data-bs-slide-to="{{ loop.index-1 }}" class="{{ loop.first ? 'active': '' }}"></li>
            {% endfor %}
        {% endif %}
    </ol>

    <div class="carousel-inner">
        {% if carousel is not empty %}
            {% for image in carousel %}

                <div class="carousel-item {{ loop.first ? 'active': '' }}">
                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="carouselPicture  d-block w-100 h-auto" alt="carousel_picture">
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <a class="carousel-control-prev" href="#carouselBoulangerie" role="button" data-bs-slide="prev">
        <span class="carouselArrow carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
    </a>
    <a class="carouselArrow carousel-control-next" href="#carouselBoulangerie" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
    </a>
</div>
{% for message in app.flashes('message') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}