{% extends 'adminLayout.html.twig' %}



{% block main %}
<div class="container container-fluid mt-5">

    <div class="adminContainer container container-fluid row">

        <div class="card col-12 mt-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Admin des images du carousel.</h5>
                <h6 class="card-subtitle mb-2 text-muted">Modifier les éléments de "Carousel".</h6>
                <a class="btn btn-primary" href="{{ path('admin_carousel_index') }}">Ici !</a>
            </div>
        </div>


        <div class="card col-6 mt-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Admin des produits.</h5>
                <h6 class="card-subtitle mb-2 text-muted">Modifier les éléments de "Products".</h6>
                <a class="btn btn-primary" href="{{ path('admin_products_index') }}">Ici !</a>
            </div>
        </div>


        <div class="card col-6 mt-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Admin des horaires.</h5>
                <h6 class="card-subtitle mb-2 text-muted">Modifier les éléments de "timetable".</h6>
                <a class="btn btn-primary" href="{{ path('admin_timetable_index') }}">Ici !</a>
            </div>
        </div>

        <div class="card col-6 mt-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Admin des catégories.</h5>
                <h6 class="card-subtitle mb-2 text-muted">Modifier les éléments de "Categorie".</h6>
                <a class="btn btn-primary" href="{{ path('admin_categories_index') }}">Ici !</a>
            </div>
        </div>

        <div class="card col-6 mt-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Admin des textes de la page d'acceuil.</h5>
                <h6 class="card-subtitle mb-2 text-muted">Modifier les éléments de "homeTexte".</h6>
                <a class="btn btn-primary" href="{{ path('admin_homeTexte_index') }}">Ici !</a>
            </div>
        </div>

        <div class="card col-6 mt-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Admin des utilisateurs.</h5>
                <h6 class="card-subtitle mb-2 text-muted">Modifier les éléments de "User".</h6>
                <a class="btn btn-primary" href="{{ path('admin_user_index') }}">Ici !</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}