{% extends 'adminLayout.html.twig' %}

{% block main %}
    <div class="adminContainer container container-fluid">

        <h2>Menu des horaires :</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Matin</th>
                        <th>Après-midi</th>
                        <th>Fermé</th>
                        <th>Vaccances d'hiver</th>
                        <th>Vaccances d'été</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for timetable in timetables %}
                    <tr>
                        <td>{{ timetable.id }}</td>
                        <td>{{ timetable.morning }}</td>
                        <td>{{ timetable.afternoon }}</td>
                        <td>{{ timetable.close }}</td>
                        <td>{{ timetable.winterHoliday }}</td>
                        <td>{{ timetable.summerHoliday }}</td>

                        <td>
                            <a href="{{ path('admin_timetable_edit', {'id': timetable.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Pas d'horaires disponible !</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('admin_timetable_new') }}">Créer de nouvelles horaires !</a>
    </div>
{% endblock %}
