<h1>Contact commande CLient</h1>
<h2>Demande : {{ Demande }}</h2>



<p>De : {{ Mail }}</p>
<p>Nom : {{ Nom }}</p>
<p>Numéro : {{ Numero }}</p>
<p>Nom : {{ Nom }}</p>
<p>Message : {{ Message|raw }}</p>

