<div class="container container-fluid">
    <h2>Contact commande Client</h2>

        <p>De : {{ Mail }}</p>
        <p>Nom : {{ Nom }}</p>
        <h3>Demande : {{ Demande }}</h3>
        <p>Numéro : {{ Numero }}</p>

        <p>Message : {{ Message|raw }}</p>
</div>
