{% extends 'layout.html.twig' %}

{% block main %}

   <div  class="tableContainer table-responsive container container-fluid">
      <h2>Nos horaires d'ouvertures:</h2>

      {% for timetable in timetables %}

         <table class="timeTable table table-bordered text-center">
            <thead>
            <tr>
               <th scope="col">Lundi</th>
               <th scope="col">Mardi</th>
               <th scope="col">Mercredi</th>
               <th scope="col">Jeudi</th>
               <th scope="col">Vendredi</th>
               <th scope="col">Samedi</th>
               <th scope="col">Dimanche</th>

            </tr>
            </thead>
            <tbody>
            <tr>
               <td>{{ timetable.close }}</td>
               <td>{{ timetable.morning }}</td>
               <td>{{ timetable.morning }}</td>
               <td>{{ timetable.morning }}</td>
               <td>{{ timetable.morning }}</td>
               <td>{{ timetable.morning }}</td>
               <td>{{ timetable.morning }}</td>
            </tr>
            <tr>
               <td>{{ timetable.close }}</td>
               <td>{{ timetable.afternoon }}</td>
               <td>{{ timetable.afternoon }}</td>
               <td>{{ timetable.afternoon }}</td>
               <td>{{ timetable.afternoon }}</td>
               <td>{{ timetable.afternoon }}</td>
               <td>{{ timetable.close }}</td>
            </tr>
            </tbody>
         </table>

         <h2 class="mt-5">Congés annuels:</h2>
         <p>{{ timetable.winterHoliday }}</p>
         <p>{{ timetable.summerHoliday }}</p>
      {% endfor %}
   </div>

{% endblock %}
