{% extends 'layout.html.twig' %}

{% block main %}


   <div class="productContainer container container-fluid">
      <h2>Nos horaires d'ouvertures:</h2>

      {% for timetable in timetables %}

         <table class="table table-bordered">
            <thead>
            <tr>
               <th scope="col"></th>
               <th scope="col">lundi</th>
               <th scope="col">Mardi</th>
               <th scope="col">Mercredi</th>
               <th scope="col">Jeudi</th>
               <th scope="col">Vendredi</th>
               <th scope="col">Samedi</th>
               <th scope="col">Dimanche</th>

            </tr>
            </thead>
            <tbody>
            <tr>
               <th scope="row">Matin</th>
               <td>{{ timetable.close }}</td>
               <td>{{ timetable.morning }}</td>
               <td>{{ timetable.morning }}</td>
               <td>{{ timetable.morning }}</td>
               <td>{{ timetable.morning }}</td>
               <td>{{ timetable.morning }}</td>
               <td>{{ timetable.morning }}</td>
            </tr>
            <tr>
               <th scope="row">Après-midi</th>
               <td>{{ timetable.close }}</td>
               <td>{{ timetable.afternoon }}</td>
               <td>{{ timetable.afternoon }}</td>
               <td>{{ timetable.afternoon }}</td>
               <td>{{ timetable.afternoon }}</td>
               <td>{{ timetable.afternoon }}</td>
               <td>{{ timetable.close }}</td>
            </tr>
            </tbody>
         </table>

          <h2>Congés annuels:</h2>
         <p>{{ timetable.winterHoliday }}</p>
         <p>{{ timetable.summerHoliday }}</p>
      {% endfor %}
   </div>

{% endblock %}

{% block footer %}
   {% include 'includes/_fixedFooter.html.twig' %}
{% endblock %}